#header
{
    border-color:rgb(255, 255, 255) ;
    width: 100%;
    height: 2cm;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  
    position: sticky;
    border-radius: 20px;
  
}

 .logoContainer 
 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(75, 60, 60);
    margin-left: 10px;
    font-weight: 500;
 }

 .logoContainer img
 {
    border-radius: 50px;
 }

.brand-text {
    font-size: large;
    margin-left: 10px; 
    
   
}
/*Nevigation bar start*/
#nevi
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nevi li 
{
    padding: 0 20px;
    list-style: none;
}

#nevi li a
{
    text-decoration: none;
    font-size: large;
    font-weight: 400;
    color: black;
    transition:0.5 ease ;
}

#nevi li a:hover,
#nevi li a.active
{
    color: rgb(23, 131, 176);
}

.form-signUp
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width:600px;
    height: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
    
}
.form-signUp h2
{
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-box input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
}
.input-box input:focus {
    border-bottom-color: dodgerblue;
}

.input-box i {
    position: absolute;
    top: 50%;

    right: 10px;
    color: #777;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: royalblue;
}

.login-link {
    text-align: center;
}

.login-link a {
    color: dodgerblue;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}