#header
{
    border-color:rgb(255, 255, 255) ;
    width: 100%;
    height: 2cm;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    border-radius: 20px;
}

#header .brand-text {
    font-size: large;
    color: #466688;
    text-decoration: none ;
}

.logoContainer 
 {
    text-decoration: none;
   
 }

/*Nevigation bar start*/
#nevi
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nevi li 
{
    padding: 0 20px;
    list-style: none;
}

#nevi li a
{
    text-decoration: none;
    font-size: medium;
    font-weight: 400;
    color: black;
    transition:0.5 ease ;
}

#nevi li a:hover,
#nevi li a.active
{
    color: rgb(23, 131, 176);
}

/*Nevigation bar end*/

#blog button
{
    background: #e62143;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    justify-content: center;
    line-height: 33.4929px;
    padding: .8em 1em;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;  
    word-break: break-word;
    border: 0;
}
#blog
{
    background-image: url("Images/Blog/1.jpg");
    width: 100%;
    height: 15cm;
    color: rgb(255, 255, 255);
    background-position: top 45% right 0%;
    background-size: cover;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


/*Feature Products*/
#product1 .pro
{
    width: 10%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(240, 237, 232);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.2s ease;
}

#product1 .pro :hover
{
    box-shadow: 20px 20px 30px rgba(232, 5, 5, 0.06) ;
}

#product1
{
    text-align: center;
}

#product1 .pro img
{
    width: 75%;
    border-radius: 15px;
}

#product1 span
{
    color: #dc63a0;
    font-size: 15px;
}

#product1 h5
{
    color: #060606;
    font-size: 18px;
}

#product1 .cart {
    background-color: rgb(201, 105, 68); /* Set the desired background color */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 20px; /* Add border radius for rounded corners */
    color: #fff; /* Set text color */
    text-decoration: none; /* Remove underline */
    align-items: left 2px;
}

/*Product cart*/
#product1 button{
    border-radius: 20px; /* Add border radius for rounded corners */
    color: #1e1a1a; /* Set text color */
    text-decoration: none; /* Remove underline */
    border: none;
    background-color: #ffffff;
    padding-top: 20px;
    
}
/*Align product in one line*/
#product1 .pro-conteiner
{
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    flex-wrap: wrap; 
}

#pro-conteiner.pro
{
    padding-top: 50px;
}

/*New arival products*/

#product2 .pro-conteiner
{
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    flex-wrap: wrap; 
}

#product2 .pro
{
    width: 10%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(240, 237, 232);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.2s ease;
}

#product2 .pro :hover
{
    box-shadow: 20px 20px 30px rgba(232, 5, 5, 0.06) ;
}

#product2
{
    text-align: center;
}

#product2 .pro img
{
    width: 75%;
    border-radius: 15px;
}

#product2 span
{
    color: #dc63a0;
    font-size: 15px;
}

#product2 h5
{
    color: #060606;
    font-size: 18px;
}

#product2 .cart {
    background-color: rgb(201, 105, 68); /* Set the desired background color */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 20px; /* Add border radius for rounded corners */
    color: #fff; /* Set text color */
    text-decoration: none; /* Remove underline */
    align-items: left 2px;
}

/*Product cart*/
#product2 button{
    border-radius: 20px; /* Add border radius for rounded corners */
    color: #1e1a1a; /* Set text color */
    text-decoration: none; /* Remove underline */
    border: none;
    background-color: #ffffff;
    padding-top: 20px;
    
}
/*Align product in one line*/
#product2 .pro-conteiner
{
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    flex-wrap: wrap; 
}

#pro-conteiner.pro
{
    padding-top: 50px;
}

/* Slide show animationo*/

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
 
}

/* Caption text */
.text {
  color: #ffffff;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*Banner*/
#banner {
    
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 50px;
}


  .banner-box {
    background-color: #ceb537;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    min-width: 580px;
    height: 250px;
    border-radius: 25px;
    
    
  }
  
  .banner-box h4 {
    padding: 0 15px;
    color: #333; /* Color of the heading */
    font-size: 15px; /* Font size of the heading */
  }
  
  .banner-box h2 {
    color: #000; /* Color of the main title */
    font-size: 20px; /* Font size of the main title */
    margin-bottom: 20px; /* Bottom margin */
    padding: 15px;
  }
  
  .banner-box button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    margin-left: 20px;
    border: none; /* No border */
    border-radius: 20px; /* Border radius */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */

  }
  
  
  .banner-box button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  

  /*Footer section*/
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer-section .col {
    display: flex;
    flex-direction: column;
    flex: 1; /* Adjust as needed */
}

.footer-section .follow {
    flex: 1;
    margin-right: 20px; /* Adjust as needed */

}


.footer-section .icon i {
    margin-right: 10px; /* Adjust as needed */
    cursor: pointer;
    color: #050505;
}


.footer-section .install {
    flex: auto;
    margin-right: 20px;
    cursor: pointer; /* Adjust as needed */
}


footer i:hover,
footer a:hover
{
    color: #007bff;
}


